header {
    text-align: center;
    
}

ul {

    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    
}
LI{
    margin-left: 50PX;
}

.log {
    width: 150px;
}
.logo {
    margin-right: auto;
}